*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    background-color: #ccc;
}
.container {
    max-width: 900px;
    margin: 0 auto;
  }
h1{
    font-size: 50px;
    margin: 0 auto;
}
.container{   
max-width: 600px;
margin-top: 50px;
padding: 20px;
box-sizing: border-box;
margin: 0 auto; 
background-color: white;
border-radius: 10px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    grid-column: 1;
    width: 100%;
}

.container span{
    font-size: 30px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}
.textarea_control {
    grid-column: 1 / span 2;
  }

.form_container{
    /* display: grid; */
    grid-template: auto;
    gap: 8px;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

@media (max-width: 460px) {
    .textarea_control {
      grid-column: 1 / span 1;
    }
  } ;